@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";

/* #root {
} */

body {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-0);
  font-family: var(--font-family-dm-sans);
  padding: 1rem;
}

.dropdown {
  @apply bg-neutral-800 border-neutral-600 border p-2 rounded;

  .title {
    @apply text-neutral-300 text-sm p-2;
  }
  button {
    @apply p-2 hover:bg-neutral-700 w-full text-left cursor-pointer rounded-md block;
  }
}

.dropdown--btn {
  position: relative;
}

.dropdown--btn:hover .dropdown {
  opacity: 100;
  visibility: visible;
}

.dropdown {
  transition: all 0.3s ease-in;
  position: absolute;
  top: 100%;
  margin-top: 8px;
  left: -120px;
  max-width: 214px;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  width: 214px;
}

.unit-switch {
  @apply pb-1;
}

.units-container {
  @apply divide-neutral-600 rounded-full divide-y;
}

/* .weather--overview {
  background: url("./bg-today-small.svg");
  border: 2px solid red;
} */

.weather--stats {
  @apply bg-neutral-800 border border-neutral-600 rounded-xl p-[20px] flex flex-col gap-4;
}

.weather--stats p {
  @apply text-[18px] text-neutral-300;
}

.weather--stats span {
  @apply text-neutral-0 text-[32px] font-light leading-10;
}

.daily--weather::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  border-radius: 100%;
}

::-webkit-scrollbar-thumb {
  background: var(--color-neutral-700); /* Darker gray handle */
  border-radius: 10px;
  border: 1px solid var(--color-neutral-600);
}

@theme {
  /* Custom Neutral Colors */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  /* Custom Orange Colors */
  --color-orange-500: hsl(28, 100%, 52%);

  /* Custom Blue Colors */
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* Custom Font Families */
  --font-family-dm-sans: "DM Sans", sans-serif;
  --font-family-bricolage: "Bricolage Grotesque", sans-serif;

  /* Custom Font Sizes */
  --font-size-body: 18px;

  /* Custom Font Weights */
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
